@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Poppins:wght@400;700&family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ----- Header ----- */

.container-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgb(0, 137, 201);
    justify-content: space-between;
    padding: 0 50px;
    height: 75px;
    box-shadow: 0 1px 0.5em #000;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFF;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.header-logo a {
    text-decoration: none;
    color: inherit;
}

.header-list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.header-list a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.header-list a:hover {
    background-color: rgb(0, 96, 141);
    padding: 10px;
    transition: 1s;
}

.list {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    list-style: none;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-right: 5px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

/* ----- Body ----- */

.container-body {
    height: 200vh;
    padding: 10px 120px;
}

.body-content {
    margin: 40px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.562);
    border-radius: 12px;
}

.body-resumo {
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
}

.body-resumo {
    margin: 0;
}

.body-pfp {
    padding: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.title-resumo {
    padding: 22px 0 1px 0;
}

.body-desc hr {
    margin: 0 100px 0 0;
}

.body-langs {
    padding: 10px 0;
}

.resumo-par {
    padding: 10px 15px;
    margin: 0 50px 40px 0;
    background-color: rgba(77, 77, 77, 0.199);
    border-radius: 10px;
}

/* ----- Paixões ----- */

/* ----- Tech ----- */
.title-paixoes {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.background-tech {
    background-color: #0D0208;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    margin: 0;
}

.tech-title {
    color: #00FF41;
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 0 0 0.5em #008F11;
}

.tech-par {
    color: #00FF41;
    font-family: 'Share Tech Mono', monospace;
    margin: 30px 0;
    text-shadow: 0 0 0.5em #008F11;
}

.paix {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

/* ----- Game ----- */

.background-game {
    background-color: #6185f8;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    margin: 0;
}

.background-game a {
    text-decoration: none;
}

.game-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
}

.question-block {
    padding: 0 10px;
    width: 50px;
}

.game-par {
    font-family: 'Press Start 2P', cursive;
    margin: 30px 60px;
}

/* ----- Weights ----- */


.background-weight {
    position: relative;
    z-index: 5;
    color: #000;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.weight-about {
    font-family: 'Graduate', cursive;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../assets/weights.jpg");
    opacity: .2;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.weight-title {
    font-family: 'Graduate', cursive;
    margin: 30px 60px;
    font-size: 40px;
    text-shadow: 2px 0 0 #5B0707, -2px 0 0 #5B0707, 0 2px 0 #5B0707, 0 -2px 0 #5B0707, 1px 1px #5B0707, -1px -1px 0 #5B0707, 1px -1px 0 #5B0707, -1px 1px 0 #5B0707;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weight-par {
    font-family: 'Graduate', cursive;
    margin: 30px 60px;
    font-size: 25px;
}

.who-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.who-title {
    display: flex;
    flex-direction: column;
}

.who-title hr {
    width: 100%;
}

.who-title h1 {
    padding: 10px 10px;
}

.img {
    border-radius: 50%;
}

.who-par {
    width: 560px;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: rgba(77, 77, 77, 0.199);
    border-radius: 10px;
}

.who-img {
    display: flex;
    flex-direction: column;
}

.who-img img {
    width: 100px;
    transition: 0.2s;
}

.who-img img:hover {
    transform: scale(2);
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.who-cur {
    display: flex;
    flex-direction: row;

}

.cur {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cur p {
    display: none;
}

.who-cur a {
    align-items: center;
    background-color: #6185f8;
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
}

footer {
    background-color: #6185f8;
    width: 100%;
}

/*section {
    min-height: 400px
}*/

@media screen and (max-width: 800px) {

    /* ----- Header ----- */

    .container-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(0, 137, 201);
        justify-content: center;
        height: auto;
    }

    .header-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-list a {
        padding: 10px 0;
    }

    /* ----- Body ----- */


    .container-body {
        padding: 1px 10px;
    }

    .body-content {
        margin: 10px 0px;
        padding: 20px;
    }

    .body-resumo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body-about hr {
        width: 100%;
    }

    .resumo-par {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 15px;
        margin: 0;
    }

    /* ----- Paixões - tech ----- */

    .body-content {
        padding: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .container-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(0, 137, 201);
        justify-content: center;
        height: auto;
    }

    .header-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-list a {
        padding: 10px 0;
    }

    /* ----- Body ----- */

    .container-body {
        padding: 1px 10px;
    }

    .body-content {
        margin: 20px 0px;
        padding: 20px;
    }

    .body-resumo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body-about hr {
        width: 100%;
    }

    .resumo-par {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 15px;
        margin: 0;
    }

    /* ----- Paixões - tech ----- */

    .body-content {
        padding: 0px;
    }
}